.greetings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.25rem;
    margin-bottom: 0.25rem;
}
.greet-phrases h1 {
    display: flex;
    color: #f5f5f5;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    margin-bottom: 0.25rem;
}
.greet-phrases p{
    color: #ababab;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
}
.time {
    color: #f5f5f5;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    margin-bottom: 0.25rem;
}
.date {
    color: #ababab;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
}